@using System.Linq
@helper PostDate(DateTime rawDate) {
    <time datetime="@rawDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" pubdate data-updated="true">@rawDate.ToString("MMM d, yyyy")</time>
}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>@Title</title>
    <link rel="stylesheet" href="@Model.Root/stylesheets/styles.css">
    <link rel="stylesheet" href="@Model.Root/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="@Model.Root/stylesheets/metro.css">
    <link rel="alternate" href="@Model.Root/rss.xml" title="@Model.SiteTitle" type="application/rss+xml">
    <link rel="shortcut icon" href="@Model.Root/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- FSharp.Formatting Styles -->
  	<link rel="stylesheet" type="text/css" media="screen" href="@Model.Root/fsharp.formatting/tooltips.css" />
  	<script type="text/javascript" src="@Model.Root/fsharp.formatting/tooltips.js"></script>
		<script type="text/javascript" src="@Model.Root/javascripts/jquery.js"></script>
		<script type="text/javascript" src="@Model.Root/javascripts/metro.js"></script>
  </head>
  <body>
    <div class="container">
	
		<div class="app-bar">
			<a class="app-bar-element" href="@Model.Root/index.html">@Model.SiteTitle</a>
			<span class="app-bar-divider"></span>
			<ul class="app-bar-menu">
				<li>
					<a href="" class="dropdown-toggle">Blog</a>
					<ul class="d-menu" data-role="dropdown">

@foreach (var post in Enumerable.Take(Model.Posts, 10))
{
						<li><a href="/blog/@post.Url/index.html">@post.Title</a></li>
}    
						<li class="divider"></li>
						<li><a href="/blog/index.html">All posts</a></li>
					</ul>
				</li>				
				<li><a href="/contact/index.html">Contact</a></li>
			</ul>
		</div>  

        <div>

<div class="align-center">
	<h1 class="text-shadow metro-title text-light" style="font-size: 4.5rem; line-height: 1">NašeÚkoly.CZ</h1>
	<div class="padding30 sub-leader text-light">Functional C#,F# and JavaScript Web, Mobile, Office 365, SharePoint and BI Development</div>
						
	</p>
</div>
		@RenderBody()

   <hr ></hr>

		<div class="align-center">
    <p class="text-muted">&copy; Copyright 2016 NašeÚkoly.CZ s.r.o. All Rights Reserved. <abbr title="Email">E:</abbr> <a href="mailto:info@naseukoly.cz">info@naseukoly.cz</a>.<br></br>

		We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies from this website. If you would like to change your preferences you may do so by following the instructions <a href="http://www.aboutcookies.org/Default.aspx?page=1">here</a>
		</p>


		</div>     

</div>


	</div>  

	
    <script src="@Model.Root/javascripts/scale.fix.js"></script>
  </body>
</html>
